@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif!important;
}

#nav .navbar {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

#nav img.logo {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
}

#nav .nav-link {
    color: #444444;
    font-weight: 600;
    font-size: 14px;
}

#header {
    background: linear-gradient(180deg, rgba(157, 76, 220, 0.10) 32.32%, rgba(255, 255, 255, 0.00) 95.38%);
    backdrop-filter: blur(75px);
    min-height: 100vh;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    display: block;
    width: 100%;
    max-width: 626px;
    height: 626px;
    margin: 0 auto;
    mix-blend-mode: multiply;
    object-fit: contain;
}

@media screen and (max-width:1023px) {
    #header img {
        height: auto;
    }
}

#header h2 {
    color: #444;
    font-weight: 600;
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    line-height: 1.5;
}

#header h3 {
    color: #000;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
    margin-right: auto;
    padding: 15px 25px;
    text-align: center;
    border-radius: 25px;
    background: #FF9C6D;
}

@media screen and (max-width:1023px) {
    #header h2 {
        margin: 20px auto;
        text-align: center;
    }
    #header h3 {
        margin: 0 auto
    }
}

#talent {
    padding: 70px 0;
    background: linear-gradient(180deg, rgba(241, 243, 255, 0) 0%, rgba(237, 240, 255, 1) 100%);
}

#talent h2 {
    color: #000;
    text-align: center;
}

#talent p {
    text-align: center;
    color: #000;
}

#talent .nav-pills .nav-link {
    background: #F7F7F7;
    color: #000;
    border-radius: 12px;
    margin: 5px 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

#talent .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #FF9C6D;
    border-radius: 12px;
}

#talent .bg {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 15px auto;
}

#talent img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 250px;
    margin: 15px auto;
    object-fit: cover;
    border-radius: 5px;
}

#talent h3 {
    color: #000;
    font-size: 18px;
}

#talent span {
    color: #000;
}

#talent .tag {
    color: #000;
    border-radius: 8px;
    background: #FF9C6D;
    padding: 5px;
    width: 100%;
    max-width: 150px;
    margin: 20px 0;
    text-align: center;
}

#talent .more {
    text-align: center;
    border-radius: 8px;
    background: #F7F7F7;
    color: #000;
    padding: 8px 10px;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#talent .loadcontent-1,
.loadcontent-2,
.loadcontent-3,
.loadcontent-4,
.loadcontent-5 {
    display: none;
}

#talent #loadmore-1,
#loadmore-2,
#loadmore-3,
#loadmore-4,
#loadmore-5 {
    transition: .3s;
}

#talent #loadmore-1:hover,
#loadmore-2:hover,
#loadmore-3:hover,
#loadmore-4:hover,
#loadmore-5:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
}

#talent .nocontent {
    color: #fff!important;
    background-color: transparent !important;
    pointer-events: none;
}

#class {
    padding: 70px 0;
    background: linear-gradient(180deg, rgba(237, 240, 255, 1) 0%, rgba(241, 243, 255, 0) 100%);
}

#class .bg {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

#class img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#class h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}

#class .nav-pills .nav-link {
    background: #FFFFFF;
    color: #000;
    border-radius: 12px;
    margin: 5px 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

#class .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #ACD6FF;
    border-radius: 12px;
}

#join {
    padding: 70px 0;
    background: linear-gradient(180deg, rgba(241, 243, 255, 0) 0%, rgba(237, 240, 255, 1) 100%);
}

#join h2 {
    text-align: center;
    font-weight: 600;
}

#join p {
    text-align: center;
}

#join .enrol {
    background-color: #444444;
    color: #f4f4f4;
    padding: 10px 25px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
}

#join .online {
    background-color: #FF924C;
    color: #000;
    padding: 10px 25px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
}

#about {
    background: url(../images/visi-misi/bg.png);
    padding: 70px 0;
}

#about img {
    display: block;
    width: 100%;
    max-width: 50px;
    height: 50px;
    margin: 0 10px;
    object-fit: contain;
}

#about h2 {
    font-weight: 600;
}

#about .bg {
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    height: 275px;
}

@media screen and (max-width:1024px) {
    #about .bg {
        height: auto;
    }
}

#partner {
    background: #F3F3F3;
    padding: 70px 0;
}

#partner h2 {
    text-align: center;
    font-weight: 600;
}

#partner img {
    display: block;
    width: auto;
    max-height: 80px;
    margin: 20px;
    mix-blend-mode: darken;
}

#contact {
    padding: 70px 0;
    background-color: #222;
}

#contact img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    height: auto;
}

.col-lg-13 {
    flex: 0 0 auto;
    width: 19.66666667%;
    color: #fff;
}

#contact a {
    line-height: 2.5;
    color: #fff;
}

#contact h2 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

#copyright {
    text-align: center;
    background: #E1A778;
    color: #000;
    padding: 20px 0;
    font-size: 12px;
}